* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: radial-gradient(#28456b, #1b1c47) no-repeat center;
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
