/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap");

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: radial-gradient(#28456b, #1b1c47) no-repeat center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "Roboto Condensed", sans-serif;
}

/* Page preloader section */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background: radial-gradient(#28456b, #1b1c47) no-repeat center;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 999;
}

.preloader__img {
  width: 100px;
  animation: fade-in-fade-out 0.5s ease-in-out infinite;
}

.loading__text {
  color: #e9f3ff;
  animation: fade-in-fade-out 0.5s ease-in-out infinite;
}

.hide__preloader {
  opacity: 0;
  visibility: hidden;
}

@keyframes fade-in-fade-out {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Page preloader media query */
@media screen and (min-width: 600px) {
  .preloader__img {
    width: 150px;
    animation: fade-in-fade-out 1s ease-in-out infinite;
  }

  p {
    font-size: 1.4em;
  }
}

/* Main page section */
.main__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0 1em;
  text-align: center;
}

.page__heading {
  color: #e9f3ff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.7em;
  margin-top: 1em;
}

.main__page > aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.main__page-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.main__page-icons {
  width: 50px;
}

.main__page-text-content {
  color: #e9f3ff;
}

.open__playground-btn {
  background: #e9f3ff;
  color: #28456b;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.2em 1em;
  margin-top: 2em;
  animation: pop-out 2s ease-in-out infinite;
}

@keyframes pop-out {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.main__page-bg-img {
  width: 180px;
}

/* Main page media query */
@media screen and (min-width: 600px) {
  .page__heading {
    font-size: 2.5em;
    margin-top: 1em;
  }

  .main__page-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .main__page-icons {
    width: 80px;
  }

  .main__page-text-content {
    color: #e9f3ff;
    font-size: 1.2em;
  }

  .open__playground-btn {
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 40px;
  }

  .open__playground-btn:hover {
    border: 1px solid #e9f3ff;
    background: none;
    color: #e9f3ff;
  }

  .main__page-bg-img {
    width: 300px;
  }
}

/* MODALS */

/* Welcome and Rules modals global styles*/
.welcome__modal-container,
.rules__modal-container,
.warning__modal-container,
.round__selection-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #1b1c47cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.welcome__modal-x-mark,
.rules__modal-x-mark,
.winner__modal-x-mark {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 25px;
  cursor: pointer;
}

/* Screen size 	warning modal */
.warning__modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #1b1c47;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.warning__modal {
  width: 290px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #e9f3ff;
  text-align: center;
}

/* Welcome modal */
.welcome__modal {
  position: relative;
  width: 290px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #e9f3ff;
  padding: 0.5em;
  text-align: center;
}

.welcome__modal-x-mark,
.rules__modal-x-mark {
  position: absolute;
  right: 0.6em;
  top: 0.6em;
  width: 25px;
}

.welcome__modal > h2 {
  font-size: 1em;
  text-transform: uppercase;
  color: #1b1c47;
  margin-top: 2em;
}

.welcome__modal p {
  font-size: 0.9em;
  color: #1b1c47;
}

.modal__rules-btn,
.lets__play-btn,
.play__btn {
  background: #1b1c47;
  color: #e9f3ff;
  font-size: 1.1em;
  padding: 0.1em 1em;
  border-radius: 4px;
}

/* Welcome modal media query */
@media screen and (min-width: 600px) {
  .welcome__modal {
    width: 400px;
  }

  .welcome__modal > h2 {
    font-size: 1.5em;
  }

  .welcome__modal p {
    font-size: 1em;
  }

  .welcome__modal-buttons {
    bottom: 2em;
    gap: 5em;
  }

  .modal__rules-btn,
  .lets__play-btn,
  .play__btn {
    font-size: 1.2em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }

  .modal__rules-btn:hover,
  .lets__play-btn:hover,
  .play__btn:hover {
    background: #454792;
  }
}

/* Round selection modal */
.round__selection-modal {
  width: 290px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #e9f3ff;
  padding: 1em;
  text-align: center;
}

.play__span {
  font-weight: 700;
  color: #454792;
}

.round__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 0.5em;
}

.total__round-btn {
  font-size: 1em;
  font-weight: 600;
  background: #315079;
  color: #e9f3ff;
  padding: 0.1em 0.6em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

/* Round selection modal media query */
@media screen and (min-width: 600px) {
  .round__selection-modal {
    width: 420px;
    height: 320px;
  }

  .round__selection-modal p {
    font-size: 1.2em;
  }

  .total__round-btn {
    font-size: 1.3em;
  }
}

/* Rules modal */
.rules__modal {
  position: relative;
  width: 290px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0.5em;
  background: #e9f3ff;
  gap: 0.5em;
}

.rules__modal h2 {
  font-size: 1em;
  text-transform: uppercase;
}

.rules__table {
  border-collapse: collapse;
  font-size: 0.75em;
}

.rules__table td,
th {
  border: 1px solid #26263d;
  text-align: left;
  padding: 0.1em 0.8em;
}

.rules__table tr:nth-child(even) {
  background: #6f98c9;
  color: #e9f3ff;
}

/* Rules modal media query */
@media screen and (min-width: 600px) {
  .rules__modal {
    width: 400px;
    gap: 0.5em;
  }

  .rules__modal h2 {
    font-size: 1.2em;
  }

  .rules__table {
    font-size: 0.8em;
  }
}

/* Game winner modal section */
.game__winner-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1b1c47cc;
  z-index: 4;
}

.game__winner-modal {
  position: relative;
  height: 310px;
  width: 290px;
  background: #e3f3ff;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  text-align: center;
}

.game__winner-text {
  color: #1b1c47;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.new__game-btn {
  font-size: 1em;
  color: #1b1c47;
  border: 1px solid #454792;
  padding: 0.2em 1em;
  font-weight: 700;
}

/* Game winner modal media query */
@media screen and (min-width: 600px) {
  .game__winner-modal {
    height: 420px;
    width: 460px;
  }

  .game__winner-modal p {
    font-size: 1em;
  }

  .game__winner-text {
    color: #1b1c47;
    font-size: 1.8em;
  }

  .new__game-btn {
    font-size: 1.1em;
    cursor: pointer;
  }
}

/* Scoreboard section */
.scoreboard {
  top: 0;
  width: 100%;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game__heading {
  line-height: 2em;
  font-size: 1.2em;
  animation: color-change 4s linear infinite;
}

@keyframes color-change {
  0% {
    color: #f07470;
  }

  25% {
    color: #8bd285;
  }

  50% {
    color: #699bf7;
  }

  75% {
    color: #959595;
  }

  100% {
    color: #a0854f;
  }
}

.scoreboard__icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  margin-bottom: 1em;
}

.scoreboard__icons {
  width: 20px;
}

.scoreboard__container {
  width: 280px;
  height: 70px;
  border: 1px solid #28456b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.round__container {
  color: #e9f3ff;
  background: #28456b;
  padding: 0.2em 1em;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  width: 30%;
}

.user_score-table,
.cpu__score-table {
  width: 30%;
  background: #e3f3ff;
  border-radius: 5px;
  padding: 0.6em 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user__name,
.cpu__name {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
}

.user__score,
.cpu__score {
  font-size: 1.2em;
  font-weight: 600;
}

/* Scoreboard section media query */
@media screen and (min-width: 600px) {
  .game__heading {
    font-size: 2em;
  }

  .scoreboard__icons-container {
    gap: 3.5em;
  }

  .scoreboard__icons {
    width: 40px;
  }

  .scoreboard__container {
    width: 320px;
    height: 90px;
    border: 2px solid #28456b;
  }

  .round__container {
    font-size: 1.3em;
  }

  .user_score-table,
  .cpu__score-table {
    width: 30%;
  }

  .user__name,
  .cpu__name {
    font-size: 1.5em;
  }

  .user__score,
  .cpu__score {
    font-size: 1.5em;
  }
}

/* Playground section */
.playground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user__options-container {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../images/playground_bg.svg") no-repeat center;
  background-size: 70%;
}

.user__option {
  position: absolute;
  transition: 0.3s ease;
}

.user__option-img {
  width: 70%;
  pointer-events: none;
}

.user__option:hover {
  transform: scale(1.1);
}

#fire {
  top: 1em;
}

#wood {
  right: 0;
  top: 6.5em;
}

#earth {
  left: 0;
  top: 6.5em;
}

#metal {
  bottom: 2em;
  left: 3em;
}

#water {
  bottom: 2em;
  right: 3em;
}

.main__rules-btn {
  background: #e9f3ff;
  color: #28456b;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.2em 1em;
  margin-top: 2em;
}

/* Playground section media query */
@media screen and (min-width: 600px) {
  .user__options-container {
    width: 400px;
    height: 400px;
  }

  .user__option {
    cursor: pointer;
  }

  .user__option-img {
    width: 95%;
  }

  #fire {
    top: 1em;
  }

  #wood {
    right: 1.5em;
    top: 8em;
  }

  #earth {
    left: 1.5em;
    top: 8em;
  }

  #metal {
    bottom: 3em;
    left: 4.5em;
  }

  #water {
    bottom: 3em;
    right: 4.5em;
  }

  .main__rules-btn {
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }

  .main__rules-btn:hover {
    transform: scale(1.1);
  }
}

/* Result board section */
.result__board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result__board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 300px;
  height: 300px;
}

.choices__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.user__choice-container,
.cpu__choice-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.chooser {
  color: #e9f3ff;
  font-size: 1em;
  font-weight: 700;
}

.result__text {
  color: #e9f3ff;
  font-size: 1.8em;
  word-spacing: 10px;
}

.next__game-btn {
  color: #315079;
  background: #e9f3ff;
  padding: 0.3em 1em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin-top: 2em;
}

/* Result boartd section media query */
@media screen and (min-width: 600px) {
  .result__board-container {
    position: relative;
    width: 400px;
    height: 400px;
  }

  .choices__container {
    width: 100%;
    display: flex;
    gap: 12em;
  }

  .chooser {
    color: #e9f3ff;
    font-size: 1.1em;
    font-weight: 700;
  }

  .user__choice-img,
  .cpu__choice-img {
    width: 110%;
  }

  .result__text {
    position: absolute;
    top: 4.5em;
    font-size: 2.2em;
  }

  .next__game-btn {
    color: #315079;
    background: #d8dbdd;
    padding: 0.3em 1em;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .next__game-btn:hover {
    transform: scale(1.1);
  }
}

/* footer section */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  margin-top: 3em;
}

.social__media-icon {
  width: 25px;
}

/* Footer section media query */
@media screen and (min-width: 600px) {
  .footer {
    margin-top: 3em;
  }
}

/* Will be added dynamically  */
.selected__round {
  background: #f07470;
}

.hide {
  display: none;
}
