* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: radial-gradient(#28456b, #1b1c47) no-repeat center;
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background: radial-gradient(#28456b, #1b1c47) no-repeat center;
  transition: opacity 0.5s, visibility 0.5s;
}

.preloader__img {
  width: 100px;
  animation: fade-in-fade-out 1s ease-in-out infinite;
}

p {
  color: aliceblue;
  animation: fade-in-fade-out 1s ease-in-out infinite;
}

.hide__preloader {
  opacity: 0;
  visibility: hidden;
}

@keyframes fade-in-fade-out {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
